{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 200,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "bracketSpacing": true,
  "editorconfig": true
}
